[Unit]
Description=Layercake prep work
#After=network.target

[Service]
Type=oneshot
ExecStart=mkdir -p /run/layercake/munge
ExecStart=mkdir -p /tmp/layercakepodtmp
ExecStart=mkdir -p /etc/layercake
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
