---
- include: ssh.yaml
- include: ntp.yaml

- name: modulefiles package
  yum:
    name: "lmod-ohpc"
    state: present

- name: mountain timezone
  timezone:
    name: America/Denver

- name: libsemanage-python package
  yum:
    name: libsemanage-python
    state: present

- name: hosts file
  copy: src=etc/hosts dest=/etc/hosts

- name: user namespace sysctl
  copy: src=etc/sysctl.d/usernamespaces.conf dest=/etc/sysctl.d/usernamespaces.conf
