127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ hostvars["head"]["network_config"]["interfaces"]["eth1"]["ipv4_address"] }}  head
{{ hostvars["fe1"]["network_config"]["interfaces"]["eth1"]["ipv4_address"] }}  fe1
{{ hostvars["node01"]["network_config"]["interfaces"]["eth1"]["ipv4_address"] }}  node01
{{ hostvars["node02"]["network_config"]["interfaces"]["eth1"]["ipv4_address"] }}  node02
{{ hostvars["node03"]["network_config"]["interfaces"]["eth1"]["ipv4_address"] }}  node03
{{ hostvars["node04"]["network_config"]["interfaces"]["eth1"]["ipv4_address"] }}  node04
